build_dita2test-coverage.xml linguist-detectable=true linguist-language="Ant Build System"
build_dita2unit-test.xml linguist-detectable=true linguist-language="Ant Build System"
build_dita2test-coverage_template.xml linguist-detectable=true linguist-language="Ant Build System"
build_dita2unit-test_template.xml linguist-detectable=true linguist-language="Ant Build System"
run-instrument.xml linguist-detectable=true linguist-language="Ant Build System"
resource/antlib.xml linguist-detectable=true linguist-language="Ant Build System"
resource/macros.xml linguist-detectable=true linguist-language="Ant Build System"
