<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file is part of the DITA-OT Unit Test Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.unit-test">
	<feature extension="package.version" value="1.0.3"/>
	
	<feature extension="dita.conductor.transtype.check" value="antro"/>
	<feature extension="dita.conductor.transtype.check" value="antro-ui"/>
	<feature extension="dita.conductor.transtype.check" value="token-report"/>
	<feature extension="dita.conductor.transtype.check" value="unit-test"/>
	<feature extension="dita.conductor.transtype.check" value="xsl-deinstrument"/>
	<feature extension="dita.conductor.transtype.check" value="xsl-instrument"/>
	<feature extension="dita.conductor.transtype.check" value="xsl-report"/>
	<feature extension="dita.conductor.lib.import" file="lib/ant-junit.jar"/>
	<transtype desc="Runs an antro ANT profiling report" name="antro">
		<param desc="The transtype to run the profile against" name="test.transtype" type="string"/>
		<param desc="The properties file to run the profile against" name="test.propertyfile" type="file"/>
	</transtype>
	<transtype desc="Invokes the UI for the antro tool" name="antro-ui"/>
	<transtype desc="Runs a token coverage report" name="token-report"/>
	<transtype desc="Runs the unit tests and creates a test report" name="unit-test">
		<param desc="Whether regenerated expecations should be copied" name="test.copy" type="enum">
			<val>true</val>
			<val default="true">false</val>
		</param>
		<param desc="Whether to colorize the test output" name="test.colorize" type="enum">
			<val default="true" desc="Output highlights errors and warnings using ANSI color codes">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
		<param desc="The properties file to run the profile against" name="test.propertyfile" type="file"/>
	</transtype>
	<transtype desc="Removes instrumentation from XSL templates" name="xsl-deinstrument"/>
	<transtype desc="Annotates XSL templates with instrumentation" name="xsl-instrument"/>
	<transtype desc="Runs an XSL template coverage report" name="xsl-report"/>

	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>
	<!--
	<feature extension="ant.import" file="build_dita2unit-test.xml"/><feature extension="ant.import" file="build_dita2test-coverage.xml"/>-->
	<template file="build_dita2unit-test_template.xml"/>
	<template file="build_dita2test-coverage_template.xml"/>
	<feature extension="dita.conductor.target.relative" file="conductor.xml"/>
</plugin>