<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file is part of the DITA-OT Unit Test Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.unit-test">
	<!--
		This file is part of the DITA-OT Unit Test Plug-in project.
		See the accompanying LICENSE file for applicable licenses.
	-->
	<feature extension="dita.conductor.transtype.check" value="unit-test"/>
	<feature extension="dita.conductor.transtype.check" value="test-coverage"/>
	<feature extension="dita.conductor.transtype.check" value="antro"/>
	<feature extension="dita.conductor.transtype.check" value="antro-ui"/>

	<feature extension="dita.conductor.lib.import" file="lib/ant-junit.jar"/>

	<transtype name="unit-test" desc="Runs the unit tests and creates a test report">
		<param name="test.copy" desc="Whether regenerated expecations should be copied" type="enum">
			<val>true</val>
      		<val default="true">false</val>
		</param>
		<param name="test.colorize" desc="Whether to colorize the test output" type="enum">
			<val desc="Output highlights errors and warnings using ANSI color codes" default="true">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
		<param name="test.propertyfile" desc="The properties file to run the profile against" type="file"/>
	</transtype>
	<transtype name="test-coverage" desc="Runs a test coverage report">
		<param name="test.colorize" desc="Whether to colorize the test output" type="enum">
			<val desc="Output highlights errors and warnings using ANSI color codes"  default="true">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
	</transtype>
	<transtype name="antro" desc="Runs an antro ANT profiling report">
		<param name="test.transtype" desc="The transtype to run the profile against" type="string"/>
		<param name="test.propertyfile" desc="The properties file to run the profile against" type="file"/>
	</transtype>
	<transtype name="antro-ui" desc="Invokes the UI for the antro tool"/>



	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>

	<!--
	<feature extension="ant.import" file="build_general.xml"/>
	<feature extension="ant.import" file="build_dita2unit-test.xml"/>
	<feature extension="ant.import" file="build_dita2test-coverage.xml"/>
	-->
	<template file="build_general_template.xml"/>
  	<template file="build_dita2unit-test_template.xml"/>
  	<template file="build_dita2test-coverage_template.xml"/>
 
  	<feature extension="dita.conductor.target.relative" file="conductor.xml"/>
</plugin>