<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file is part of the DITA-OT Unit Test Plug-in project.
	See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="fox.jason.unit-test" version="2.0.0">
	<feature extension="package.version" value="2.0.0"/>
	
	
	<transtype desc="Runs an antro ANT profiling report" name="antro">
		<param desc="The transtype to run the profile against" name="test.transtype" type="string"/>
		<param desc="The properties file to run the profile against" name="test.propertyfile" type="file"/>
	</transtype>
	<transtype desc="Invokes the UI for the antro tool" name="antro-ui"/>
	<transtype desc="Runs a token coverage report" name="token-report"/>
	<transtype desc="Runs the unit tests and creates a test report" name="unit-test">
		<param desc="Whether regenerated expecations should be copied" name="test.copy" type="enum">
			<val>true</val>
			<val default="true">false</val>
		</param>
		<param desc="The properties file to run the profile against" name="test.propertyfile" type="file"/>
	</transtype>
	<transtype desc="Removes instrumentation from XSL templates" name="xsl-deinstrument"/>
	<transtype desc="Annotates XSL templates with instrumentation" name="xsl-instrument"/>
	<transtype desc="Runs an XSL template coverage report" name="xsl-report"/>


	<feature extension="ant.import" file="build_dita2unit-test.xml"/>
	<feature extension="ant.import" file="build_dita2test-coverage.xml"/>

	<template file="build_dita2unit-test_template.xml"/>
	<template file="build_dita2test-coverage_template.xml"/>
	<!-- Ensure the plugin's error and logging messages are available -->
	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>
	<!-- Ensure the plugin's Java libraries are available -->
	<feature extension="dita.conductor.lib.import" file="lib/ant-junit.jar"/>
</plugin>